### Gradle ###
.gradle/
**/.gradle-stale-path-backup/
**/.gradle-user-fresh/
**/build/
!**/gradle/wrapper/gradle-wrapper.jar

### IDEs ###
.idea/
.vscode/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/

### Minecraft development ###
**/run/
**/run-data/
**/repo/
**/mcmodsrepo/
**/src/generated/**/.cache/

### Operating system ###
.DS_Store
Thumbs.db
